#frontHeader {
    height: 400px;
    width: 100%;
    display: block;
    background-color: black;
    background-image: 
}

#frontHeader div {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

#frontHeader img {
    padding-top: 125px;
}



