article.tweet:hover {
    box-shadow: 10px 10px;
}

.tweetContainer {
    margin-top: 10px;
    padding-top: 3px;
    height: auto;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

article.tweet {
    padding: 10px;
    margin-bottom: 15px;
    border: solid black;
}

#username {
    font-size: medium;
    display: inline;
    position: absolute;
    margin-left: 5px;
}

#userHandle {
    font-size: medium;
    float: right;
    margin-left: 100px;
    padding-right: 15px;
    padding-top: 5px;
    padding-left: 30px;
    margin-top: 0px;
    opacity: 0.3;
}

#exampleText {
    display: block;
    padding-top: 15px;
    font-size: 25px;
    word-break: break-all;
    font-family: 'Source Sans Pro';
}

#tweetFooter {
    border-top: solid black;
    padding-top: 20px;
    font-size: 15px;
}

#heart {
    z-index:9999;
    color: white;
    width: 20px;
    height: 20px;
    position: relative;
    float: right;
}

#reTweet {
    z-index:9999;
    color: white;
    width: 20px;
    height: 20px;
    position: relative;
    float: right;

}

#flag {
    z-index:9999;
    color: white;
    width: 20px;
    height: 20px;
    position: relative;
    float: right;
}